<!DOCTYPE html>
<html lang="en">
<%- include('_head') %>
<body>
  <div class="container">
    <h1 class="mb-4">Edit Article</h1>

    <form action="/<%= article.id %>?_method=PUT" method="POST">
      <%- include('_form_fields') %>
    </form>
  </div>
</body>
</html>